
		<div class="homepage_left">
			
				<div class="row" style="margin-top: 0;">
					<div class="bebes">
						bebes
					</div>
				</div>
					
				
				<div class="row">
					<div class="modulo1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic laboriosam, dolorem aliquam quas velit doloremque, facere maxime architecto tempore dolor ad obcaecati officia necessitatibus esse ea, quaerat? Neque mollitia, perferendis.
					</div>
					<div class="modulo2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi recusandae aliquam enim facere accusantium amet nam! Hic accusantium, tenetur! Tempora repellendus amet, laboriosam nobis, rem error consequuntur sunt adipisci.
					</div>
				</div>

				<div class="row">
					<div class="modulo3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic laboriosam, dolorem aliquam quas velit doloremque, facere maxime architecto tempore dolor ad obcaecati officia necessitatibus esse ea, quaerat? Neque mollitia, perferendis.
					</div>
					<div class="modulo4">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit animi recusandae aliquam enim facere accusantium amet nam! Hic accusantium, tenetur! Tempora repellendus amet, laboriosam nobis, rem error consequuntur sunt adipisci.
					</div>
				</div>
				
			
		</div>


		<div class="homepage_right">

				<div class="doc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa distinctio voluptatem illum animi, totam alias quisquam ducimus, velit laborum, in sed eos delectus maxime ea consectetur expedita nesciunt dolor.</p>
				</div>

				<div class="isq">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa distinctio voluptatem illum animi, totam alias quisquam ducimus, velit laborum, in sed eos delectus maxime ea consectetur expedita nesciunt dolor.</p>
				</div>

				<div class="isq">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi ipsa distinctio voluptatem illum animi, totam alias quisquam ducimus, velit laborum, in sed eos delectus maxime ea consectetur expedita nesciunt dolor.</p>
				</div>
			
			</div>
		</div>
	