<div class="show row">
  <div class="cover col-md-4">  </div>  
  <div class="col-sm-8">
    <h3 class="album-title"><%=  @categories.name%> </h3>

   
    
    <% @users.each do |t|%>
    <div class="track row">
      <div class="name col-md-8"> <%= t.first_name%> </div>
    </div>
    <%end %>
    
  </div>
</div>