


<div class="baby-big">
	

<img  class="image-baby-big" src="/baby.jpg">
<h1><%= @newborn.first_name %></h1>
<h1><%= @newborn.last_name %></h1><br><br><br>
<h3><%= @newborn.birthdate %></h3>
	
</div>
